<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test</title>
</head>
<body>
  <div>{{ output }}</div>
  <div id="outputScript"></div>
</body>
<script src="{{ url_for('static', filename='test.js') }}"></script>
</html>